[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
pylint = "*"
jinja2 = "*"
werkzeug = "*"
flask-cors = "*"
pyjwt = "*"
flask-login = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
