[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pylint = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
SQLAlchemy = "*"
WTForms = "*"
Flask-WTF = "*"
Werkzeug = "*"
Flask-Cors = "*"
Flask-Login = "*"
Jinja2 = "*"
PyJWT = "*"

[dev-packages]

[requires]
python_version = "3.8"
