/* TODO Add site wide styles */
body {
    font-family: "Capsule Sans Text", sans-serif;
    margin: 0;
}

html, body, #root {
    height: 100%;
    overflow: scroll;
}

/* NavBar */
.navBar {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    background-color: rgb(255,255,255,0.6);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    position: sticky;
    top: 0;
    z-index: 4;
}

.logo {
    margin-left: 3.2%;
    height: 75%
}

.logo__pic {
    max-width: 100%;
    max-height: 100%;
}

.navBar__authDiv {
    margin-right: 3.2%;
    width: 17%;
}

.navBar__authDiv-login {
    color: #040d14;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 3%;
    text-decoration: none;
}
.navBar__authDiv-login:hover {
    color:rgb(0, 200, 5)
}

.navBar__authDiv-signup {
    color: #040d14;
    font-size: 1.2em;
    font-weight: 700;
    padding: 12px 38px;
    height: 48px;
    background-color: rgb(0, 200, 5);
    border-radius: 24px;
    text-decoration: none;
}
.navBar__authDiv-signup:hover {
    background-color: rgb(0, 160, 5);
    color: white;
}

.searchWrap {
    margin-left: -5%;
    height: 100%;
    width: 25%;
}

.instaSearch {
    font-family: proxima-nove, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight:300;
    letter-spacing: .5px;
    height: 50%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #edeeee;
    background: #fafafa;
    background-image: url("./assets/searchIcon.png");
    background-repeat: no-repeat;
    background-size: 5% 40%;
    background-position: 35% 54%;
    outline: none;
    width: 78%;
    margin-top: 3.5%;
    margin-bottom: 3.8%;
    margin-left: 10%;
    color: #c9cbcc;
    /* transition: all 0.05s ease-in-out; */
}
.instaSearch:focus {
    text-align: left;
    padding-left: 10%;
    background: #ffffff;
    background-image: url("./assets/searchIcon.png");
    background-repeat: no-repeat;
    background-size: 5% 40%;
    background-position: 5% 54%;
    color: #000;
}
 
.instaSearch:focus::-webkit-input-placeholder {
     color: #c9cbcc;
}
.instaSearch:focus::-moz-placeholder {
     color: #c9cbcc;
}
.instaSearch:focus::-ms-input-placeholder { 
     color: #c9cbcc;
}

.darkMode__container {
    display: flex;
}

/* Login Page */
.logInPage-mainDiv {
    display: flex;
    justify-content: flex-start;
}
.loginPic {
    width: 50%;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
}
.loginForm-backgroundDiv {
    background-color: rgb(0, 200, 5);
    width: 50%;
    height: 100vh;
    position:relative;
}
.loginForm-mainDiv {
    background-color: rgb(255,255,255);
    border-radius: 15px;
    position:absolute;
    width: 88%;
    height: 91vh;
    margin-left: 6.2%;
    margin-top: 5.5%;
    box-shadow: 5px 2px 8px 10px rgba(0,0,0,0.2);
}
.loginForm {
    font-size: 1.875em;
    font-weight: 700;
    display: block;
    margin-top: 23%;
    margin-left: 6.3%;
}
.loginForm__label {
    font-size: 0.53em;
    font-weight: 400;
    margin-top: 7.6%;
    display: block;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.loginForm__input {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 81.5%;
    height: 20px;
    border: 1px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 1.06em;
}
.loginButton {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 24.8%;
    height: 7.7%;
    padding: 10px 10px;
    font-size: 0.44em;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 0.4%;
    margin-top: 4.43%;
    cursor: pointer;
}
.loginButton:hover {
    background-color: rgb(0, 140, 3);
}
.demoButton {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 24.8%;
    height: 7.7%;
    padding: 10px 10px;
    font-size: 0.86em;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 35.5%;
    margin-top: 4.43%;
    cursor: pointer;
}
.demoButton:hover {
    background-color: rgb(0, 140, 3);
}
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 6.2%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 64%;
  margin-top: 8.4%;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.loginForm__input-error {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 430px;
    height: 20px;
    border: 2px solid rgba(233, 5, 5, 0.904);
    border-radius: 4px;
    font-size: 17px;
}
.loginErrors {
    color: rgba(233, 5, 5, 0.904);
}

/* Sign Up Page */
.signupPage__mainDiv {
    height: 100%;
    position: relative;
}
.signupPic__Container {
    height: 50vh;
    overflow: hidden;
    display: block;
}
.signupPic {
    width: 100%;
    object-fit: cover;
}
.signup__bottomDiv {
    display: block;
    background-color: rgb(0, 200, 5);
    width: 100%;
    height: 50vh;
}
.signupForm__mainDiv {
    z-index: 3;
    background-color: rgb(255,255,255);
    position: absolute;
    width: 95.15%;
    height: 80.45%;
    margin-left: 2.35%;
    margin-top: -19.5%;
    border-radius: 15px;
}
.signupForm {
    font-size: 1.875em;
    font-weight: 500;
    margin-left: 11.1%;
    padding-top: 1.7%;
}
.signupForm__row1 {
    display: flex;
    justify-content: flex-start;
}
.signupForm__label {
    font-size: 0.53em;
    font-weight: 400;
    margin-top: 3.69%;
    display: block;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.signupForm__input-row1 {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 230px;
    height: 10px;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 100px;
}
.signupForm__select {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 230px;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 100px;
}
.checkboxContainer__signup {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 360px;
  margin-top: 47px;
}
.signupErrors {
    margin: 0px;
    margin-left: 140px;
    padding-top: 34px;
    font-size: 17px;
    color: rgba(233, 5, 5, 0.904);
}
.signupForm__input-error {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 230px;
    height: 10px;
    border: 3px solid rgba(233, 5, 5, 0.904);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 100px;
}
.passwordRequirements {
    margin: 0px;
    font-size: 0.5em;
    padding-top: 0.5%;
}
.signUpButton {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 10.8%;
    height: 7.7%;
    padding: 10px 10px;
    font-size: 0.44em;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 0.4%;
    margin-top: 3%;
    cursor: pointer;
}
.signUpButton:hover {
    background-color: rgb(0, 140, 3);
}
.signUpDemo {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 10.8%;
    height: 7.7%;
    padding: 10px 10px;
    /* font-size: 0.86em; */
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 15.5%;
    margin-top: 4.43%;
    cursor: pointer;
}
.signUpDemo:hover {
    background-color: rgb(0, 140, 3);
}
.bankInfo__container {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bankInfo__box {
    width: 30em;
    height: 22em;
    background-color: rgb(255,255,255);
    border-radius: 15px;
}
.bankInfo__title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    padding-bottom: 17px;
    border-bottom: 1px solid black;
}
.bankInfo__balanceInput {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 40px;
    display: block;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.bankInfo__errors {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 230px;
    height: 10px;
    border: 3px solid rgba(233, 5, 5, 0.904);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 100px;
}

/* Splash Page */
.splashPage__backgroundDiv {
    width: 100%;
    /* height: 100%; */
    background-color: rgb(0, 200, 5);
}
.splashPage__mainDiv {
    width: 74em;
    height: 100%;
    background-color: rgb(255,255,255,0.9);
    margin-left: 3em;
    box-shadow: 5px 2px 8px 10px rgba(0,0,0,0.2);
}
.splashPage__divContainer-image{
    border-bottom: 4px solid black;
}
.splashPage__img1 {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.splashPage__footer {
    background-color: black;
    border-top: 2px solid white;
}
.footer__info {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin-top: 0px;
    padding-top: 40px;
    text-align: center;
}
.footer__info2 {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}
.footer__credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.credits__name {
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
    text-decoration: none;
    height: 23px;
}
.credits__name:hover {
    color: rgb(0, 200, 5);
}
.credits__github {
    padding-top: 3px;
    margin-right: 9px;
}
.credits__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px;
}
.imageCredits {
    color:rgb(0, 200, 5);
    text-decoration: none;
}

/* Homepage */
.homepage__mainMenuDiv {
    height: 6.7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(22,22,23);
}
.bankingInfo__menu {
    color: white;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    padding-top: 1.05%;
    padding-bottom: 1.05%; */
    cursor: pointer;
    font-size: 1.12em;
}
.bankingInfo__menu:hover {
    background-color: rgb(51, 51, 53);
    color: rgb(0, 200, 5);
}
.stockMarket__menu {
    color: white;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    padding-top: 1.05%;
    padding-bottom: 1.05%; */
    cursor: pointer;
    font-size: 1.12em;
}
.stockMarket__menu:hover {
    background-color: rgb(51, 51, 53);
    color: rgb(0, 200, 5);
}
.userAccount__menu {
    color: white;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    padding-top: 1.05%;
    padding-bottom: 1.05%; */
    cursor: pointer;
    font-size: 1.12em;
}
.userAccount__menu:hover {
    background-color: rgb(51, 51, 53);
    color: rgb(0, 200, 5);
}
.selected {
    background-color: rgb(51, 51, 53);
    color: rgb(0, 200, 5);
    font-weight: 600;
}
.menuSelection__mainDiv {
    z-index: 3;
    background-color: rgb(255,255,255);
    position: absolute;
    width: 95.1%;
    height: 76.7%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 7px 6px rgba(0,0,0,0.2);
}

/* Loading Icon */
.loaderIcon__div {
    z-index: 3;
    background-color: rgb(255,255,255);
    position: absolute;
    width: 1218px;
    height: 547px;
    margin-left: 30px;
    margin-top: 33px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 1200px 520px;
    background-position: 30px 70px;
}
#loader {
    margin-top: 100px;
}
.lds-roller {
  display: inline-block;
  position: relative;
  margin-left: 518px;
  width: 50%;
  padding: 10px;
  height: 50px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 200, 5);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Banking */
.menuSelection__backgroundDiv {
    width: 100%;
    height: 85.3%;
    background-color: rgb(0, 200, 5);
}
.banking__menuSelection__mainDiv {
    z-index: 3;
    background-color: rgb(255,255,255);
    position: absolute;
    width: 95.1%;
    height: 76.7%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius: 15px;
    background-image: url("./assets/bankComponent.jpg");
    background-repeat: no-repeat;
    background-size: 98% 95%;
    background-position: 100% 249%;
    box-shadow: 1px 1px 7px 6px rgb(0 0 0 / 20%);
}
.inner__mainDiv {
    margin-left: 3.3%;
    margin-top: 2.5%;
}
.bankName__div {
    height: 75px;
    width: 350px;
}
.bankName__div-image {
    max-width: 100%;
    max-height: 100%;
}
.bankInfo__div {
    border-top: 2px solid black;
    font-size: 1.375em;
    font-weight: 500;
    padding-top: 2.5%;
    text-align: center;
}
.bankInfo__balance {
    font-size: 1.25em;
    margin-top: 0.9%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
}
.bankInfo__balance-span {
    margin-right: 3.39%;
    font-weight: 600;
}

/* Account */
.accountName__div {
    font-size: 2.25em;
    font-weight: 600;
    height: 75px;
    width: 100%;
    font-family: Gill Sans, sans-serif;
}
.accountInformation__div {
    margin-top: 3.3%;
    font-family: Gill Sans, sans-serif;
    font-size: 1.25em;
}
.account_editSelection {
    padding-left: 3.3%;
    padding-top: 1.24%;
    padding-bottom: 1.24%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.account_editSelection:hover {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.editSelection__span {
    padding-right: 25px;
}
.editDiv {
    display: flex;
}
.editTitle {
    margin-left: 447px;
}
.backButton {
    cursor: pointer;
}
.backButton:hover {
    color:rgb(0, 200, 5);
}
.editInput__div {
    margin-left: 40px;
}
.editInput {
    padding: 10px 10px;
    margin: 10px 0px;
    margin-left: 5px;
    width: 230px;
    height: 10px;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 15px;
}
.wrongCP {
    padding: 10px 10px;
    margin: 10px 0px;
    margin-left: 5px;
    width: 230px;
    height: 10px;
    border: 3px solid red;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 15px;
}
.wrongCP__message {
    font-size: 16px;
    color: red;
    font-weight: 700;
    margin-left: 40px;
}
.editPrimaryBank {
    padding: 10px 10px;
    margin: 10px 0px;
    margin-left: 5px;
    width: 230px;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 15px;
}
.submitChanges {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 140px;
    height: 44px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}
.changedPassword {
    color: rgb(0, 200, 5);
    margin-left: 10px;
}

/* Sliding Animation */
.overflowHidden {
    overflow: hidden;
}
.blockContainer {
    position: relative;
    height: 1000px;
    width: 1178px;
}
.blockDiv {
    position: absolute;
    background-color: rgb(255,255,255);
    height: 1000px;
    width: 1178px;
}
.acountPageTransition {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.acountPageTransition-active {
    -webkit-transform: translateX(-1218px);
    transform: translateX(-1218px);
}
.acountPageTransition-reverse {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.acountPageTransition-active-reverse {
    -webkit-transform: translateX(1218px);
    transform: translateX(1218px);
}
.editPageTransition {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateX(1178px);
  transform: perspective(1px) translateX(1178px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.editPageTransition2 {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateX(1178px);
  transform: perspective(1px) translateX(1178px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.editPageTransition-reverse {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateX(-1178px);
  transform: perspective(1px) translateX(-1178px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.editPageTransition-active {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.editPageTransition-active-reverse {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* Stock Market */
.buyStockDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyStockSpan {
    opacity: 0.5;
    color: grey;
    font-size: 75px;
    margin-bottom: 13%;
}
.stockMarket__navDiv {
    height: 8.6%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    background-color: rgb(255,255,255,0.6);
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    z-index: 4;
    border-radius: 15px 15px 0px 0px;
}
.portfolio__component {
    color: black;
    width: 25%;
    text-align: center;
    padding-top: 1.1%;
    cursor: pointer;
    font-size: 1.12em;
}
.portfolio__component:hover {
    color:rgb(0, 200, 5);
}
.market__component {
    color: black;
    width: 25%;
    text-align: center;
    padding-top: 1.1%;
    cursor: pointer;
    font-size: 1.12em;
}
.market__component:hover {
    color:rgb(0, 200, 5);
}
.watchList__component {
    color: black;
    width: 25%;
    text-align: center;
    padding-top: 1.1%;
    cursor: pointer;
    font-size: 1.12em;
}
.watchList__component:hover {
    color:rgb(0, 200, 5);
}
.plans__component {
    color: black;
    width: 25%;
    text-align: center;
    padding-top: 1.1%;
    cursor: pointer;
    font-size: 1.12em;
}
.plans__component:hover {
    color:rgb(0, 200, 5);
}
.stockMarket__selected {
    color: rgb(0, 200, 5);
    border-bottom: 3px solid rgb(0, 200, 5);
}
.stockContent__div {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.stockContent__div-expanded {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Portfolio */
.portfolio__totalValue-container {
    height: 19%;
    width: 100%;
    display: flex;
    align-items: center;
}
.totalValue__div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.totalValue {
    font-size: 1.44em;
    font-weight: 200;
    padding-left: 3.3%;
}
.differenceInValue__div {
    display: flex;
    justify-content: flex-start;
    padding-right: 3.3%;
    font-size: 1.3em;
    height: 50%;
    align-items: center;
}
.totalValue__bottomBorder {
    height: 3px;
    border-bottom: 2px solid black;
    margin-left: 3.3%;
}
.stockChart {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-left: 3.3%;
}
.individualStocks__portfolio {
    display: flex;
    justify-content: flex-start;
    height: 48vh;
    /* margin-bottom: 3%; */
}
.stockInfo__portfolio-div {
    /* height: 75%; */
    /* width: 21%; */
    height: 87%;
    width: 30%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    /* margin-left: 9%; */
    margin-left: 4%;
    /* margin-top: 3%; */
    margin-top: 2%;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
}
.stockChart__div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stockName__portfolio {
    font-weight: 600;
    font-size: 1.3em;
    /* margin-bottom: 17%; */
}
.stockChart__timeFrame {
    border-bottom: 1px solid darkgrey;
    font-weight: 600;
    font-size: 1em;
    display: flex;
}
.timeFrames {
    margin-left: 3%;
    cursor: pointer;
    padding-bottom: 1.5%;
}
.selected__timeFrame {
    color:rgb(0, 200, 5);
    border-bottom: 3.5px solid rgb(0, 200, 5);
}
.stockInfo__name {
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    padding: 8%;
    border-bottom: 1px solid black;
}
.totalValue__portfolio {
    display: flex;
    justify-content: space-between;
    font-size: 1.05em;
    padding: 8%;
}
.yourShares {
    display: flex;
    justify-content: space-between;
    font-size: 1.05em;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
}
.totalDifference__portfolio {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 2%;
}
.profit__difference {
    color:rgb(0, 200, 5);
}
.lost__difference {
    color: #ff4400;
}

/* Market */
.featuredStocks__container {
    width: 96.7%;
}
.featuredStocks__row {
    display: flex;
}
.featuredStocks__div {
    margin-right: 3%;
    margin-bottom: 3%;
    width: 22%;
    height: 32vh;
    background-color: rgb(240, 240, 240);
    border-radius: 5%;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.miniStockChart__container {
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
    position: relative;
}
.miniStocksInfo__container {
    display: flex;
    justify-content: space-between;
    margin-top: 11%;
    font-size: 1.5em;
    font-weight: 600;
}
.miniStockPPS {
    margin-right: 8%;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 1px 1px 6px 5px rgb(0 0 0 / 20%);
}
/* .featuredStocks__div-expanded {
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: rgb(240, 240, 240);
    border-radius: 5%;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
} */

/* StockInfo */
.buyStocks__container {
    padding: 8%;
    font-size: 1.3em;
    padding-bottom: 4%;
}
.amountOfShares__container {
    display: flex;
    justify-content: space-between;
}
.amountOfShares__alignText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.amountOfShares__div {
    display: flex;
    justify-content: flex-end;
}
.amountOfShares__input {
    display: block;
    padding: 10px 10px;
    width: 22%;
    height: 30%;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
}
.estimatedAmount__container {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 7%;
}
.amountOfShares__bottomBorder {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 2%;
}
.placeOrderButton {
    position: absolute;
    background-color: rgb(0, 200, 5);
    width: 10.8%;
    height: 7.7%;
    padding: 10px 10px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 9.8%;
    margin-top: 0.7%;
    cursor: pointer;
}
.placeOrderButton:hover {
    background-color: rgb(3, 168, 9);
}

/* Plans */
.plan__container {
    background-color: rgb(240, 240, 240);
    width: 93%;
    height: 35%;
    border-radius: 2%/10%;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
    font-size: 1.25em;
    margin-bottom: 3%;
}
.planDetails__div {
    padding: 2.5% 2.5%;
    width: 100%;
    height: 100%;
}
.plan__title {
    font-weight: 600;
    text-align: center;
    padding-top: 1%;
}
.plan__title-xButton {
    font-weight: 600;
    text-align: center;
    padding-top: 1%;
    display: inline-block;
    width: 92%;
}
.planTitle__borderBottom {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.borderBottom__title {
    width: 80%;
    border-bottom: 1px solid black;
}
.planRow1 {
    display: flex;
    justify-content: space-around;
    width: 83%
}
.planRow2 {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5%;
}
.xButton__div {
    position: absolute;
    cursor: pointer;
    z-index: 4; 
}
.buttonDiv {
    width: 7%;
    height: 38%;
    background-color: rgb(0, 200, 5);
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    margin-left: 1.5%;
}
.buttonDiv:hover {
    background-color: rgb(3, 168, 9);
}
.planInfo__box {
    width: 75%;
    height: 71%;
    background-color: rgb(255,255,255);
    border-radius: 15px;
}
.planInfo__title {
    font-size: 1.4em;
    display: flex;
    align-items: flex-end;
    margin-left: 41%;
}
.newPlanRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.planInfo__label {
    font-size: 16px;
    font-weight: 400;
    display: block;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.planInfo__input {
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 90%;
    height: 15%;
    border: 3px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 15px;
    margin-right: 100px;
}